@model OgrenciNotMVC.Models.EntitiyFramework.TblNotlar
@{
    ViewBag.Title = "NotGetir";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm("Guncelle", "Notlar", FormMethod.Post))
{
    <div class="form-group">
        <label>Öğrenci Ad</label>
        @Html.TextBoxFor(k => k.TblOgrenciler.OgrAdSoyad, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Sınav 1</label>
        @Html.TextBoxFor(k => k.Sinav1, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Sınav 2</label>
        @Html.TextBoxFor(k => k.Sinav2, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Sınav 3</label>
        @Html.TextBoxFor(k => k.Sinav3, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Proje</label>
        @Html.TextBoxFor(k => k.Proje, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Ortalama</label>
        @Html.TextBoxFor(k => k.Ortalama, new { @class = "form-control" })
    </div>
    <div class="form-group">
        <label>Durum</label>
        @Html.TextBoxFor(k => k.Durum, new { @class = "form-control" })
    </div>

    @Html.HiddenFor(k => k.NotID)
    <div style="margin-top:15px">
        <button class="btn btn-primary">Hesapla</button>
    </div>
    <div style="margin-top:15px">
        <button class="btn btn-info">Güncelle</button>
    </div>
}